<div class="main-container container-fluid d-flex justify-content-center align-items-start row m-0 pt-5">
  <div class="main-content col row d-flex flex-column justify-content-start">
    <h1 class="main-heading d-flex justify-content-center">CouchCritic</h1>
    <div class="main-jumbotron jumbotron-fluid col d-flex flex-column align-items-center">
      <p class="main-text lead">Hey there! We are so excited that you are here and we guess that like us you love movies</p>
      <hr class="my-2">
      <div class="main-subContainer d-flex flex-column align-items-center">
      <p class="main-cta-text"><span class="main-bold">Sign up</span> to create your Couch Critic <span class="main-bold">profile</span></p>
      <a class="main-link btn btn-primary btn-lg" href="/user/signup" role="button">Sign Up</a>
    </div>
  </div>
 </div>
</div>


