<div class="logout-container container-fluid d-flex justify-content-center align-items-start row m-0 pt-5">
  <div class="logout-content col row d-flex flex-column justify-content-start">
    <h1 class="logout-heading d-flex justify-content-center">CouchCritic</h1>
    <div class="logout-jumbotron jumbotron-fluid col d-flex flex-column align-items-center">
      <h3 class="logout-text lead">So the popcorn is finished, see you next time!</h3>
      <hr class="my-2">
      <div class="logout-subContainer d-flex flex-column align-items-center">
    </div>
  </div>
 </div>
</div>


