<div class="logout-container container-fluid row">
  <div class="logout-col">
    <h1 class="logout-heading">Well the popcorn if finished, so I guess we will see you next time.</h1>
  </div>
</div>