<div class="profile-container row d-flex justify-content-center align-content-center">
  <div class="profile-col col">
      <h1 class="profile-heading">Welcome {{!Also include username}}!</h1>
  </div>
</div>