  
<form action="/user/signup" method="POST">
    <input type="text" required name="username" placeholder="username" />
    <input type="password" required name="password" placeholder="password" />
    <button type="submit">Sign up</button>
</form>

{{! Hey Miranda, when you have chance can you add some additional fields for the signup:
  Input : First Name
  Input: Last Name 
  Email: Email address
  Username: already here
  password: already here
}}