add-movie-container {
  text-align: center;
  width: 100%;
}

.add-movie-content {
  width: 100%;
}

.add-movie-heading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.add-movie-input {
  display: inline-block;
  width: 40%;
}

.add-movie-btn {
  margin-top: 2rem;
}
