.image-container-addmovie {
  color: #ffffff;
  background-image: url('/images/addmoviesmallscreen2.jpg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0%;
}

.addmovie-button {
  color: white;
  border-color: #343A40;
}

.addmovie-button, .rating-input, .title-input {
  margin: 10px;
  border-color: #999C99;
  width: 70vw;
  text-align: center;
  border-radius: 5px;
}

@media (min-width: 700px) {
  .image-container-addmovie {
    background-image: url('/images/addmovielargescreen2.jpg');
  }
  .addmovie-button, .rating-input, .title-input {
    width: 40vw;
}
}

