.logout-container {
  color: #ffffff;
  background-image: url('/images/stormTroopersLarge.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.logout-content {
  text-align: center;
  width: 80%;
}

.logout-jumbotron.jumbotron {
  background: transparent;
}

.logout-text {
  width: 95%;
}

.logout-cta-text {
  width: 85%;
}

.logout-bold {
  font-weight: bold;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logout-content {
    margin-top: 0%;
  }
}

@media (min-width: 992px) {
  .logout-container {
    background-image: url('/images/stormtrooperslarge2.jpg');
  }
}
