<div class="movie-detail container-fluid d-flex justify-content-center">
{{#each movies}}
{{/each}}
<div class="movie-detail-content-flex justify-content-center align-items-center flex-column row">   
  <div class="movie-detail-headingContainer col m-2">
    <h1 class="movie-detail-heading">Why Not Check Out Our Amazing Collection</h1>
  <div class="movie-detail-search container-fluid c d-flex justify-content-center col">    
    <form class="form-inline my-2 my-lg-0" action="/movieDetail" method="POST">
      <input class="form-control m-0" type="search" id="search-input" name="movieSearch" placeholder="Search Movies">
      <button  id="search-btn" class="movie-detail-btn btn btn-primary searchButtonmy-2 my-sm-0" type="submit">Search Movies</button>
    </form>
  </div>
</div>
  <div class="movie-detail-container d-flex justify-content-center col"> 
  <div class="card" style="width: 18rem;">
    <img class="movie-detail-img" src="{{movie.Poster}}" alt="poster">
    <div class="card-body">
      <h2 class="movie-detail-subheading" >{{movie.Title}}</h2>
      <p class="movie-detail-text" >This movie was directed by {{movie.Director}} released on {{movie.Released}}.</p>
    </div>
  </div>
  </div>
</div>
<div id="error"></div>
</div>