{{#each movies}}
{{/each}}
<h1>Movie details</h1>
<div class="search">
  <form action="/movieDetail" method="POST">
    <input type="text" id="search-input" name="movieSearch" placeholder="searchMovie" />
    <button id="search-btn" type="submit" class="searchButton">
    Search movie
    </button>
    <h1>check out movie details</h1>
  </form> 
</div>








<script src="/public/javascripts/movies.js"></script>


<div class="card" style="width: 18rem;">
  <img class="movie-detail-img" src="{{movie.Poster}}" alt="poster">
  <div class="card-body">
     <h2 class="movie-detail-heading" >{{movie.Title}}</h2>
     <p class="movie-detail-text" >This movie was directed by {{movie.Director}} released on {{movie.Released}}. </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div id="error"></div>