
<h1>Movie details</h1>
<div class="search">
  <form action="/movieDetail" method="POST">
    <input type="text" id="search-input" name="movieSearch" placeholder="searchMovie" />
    <button id="search-btn" type="submit" class="searchButton">
    Search movie
    </button>
    <h1>check out movie details</h1>
  </form> 
</div>

{{#each movies}}

{{/movie}}
<div id="title"></div>
<div id="year"></div>
<div id="released"></div>
<div id="director"></div>
<div id="poster"></div>
<div ide="error"></div>

<script src="/public/javascripts/movies.js"></script>
